<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Example Form</h5>
          <%= form_with model: project, class: 'needs-validation' do |form| %>
            <% if project.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
                <ul>
                  <% project.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="mb-3">
              <%= form.label :title, class: 'form-label' %>
              <%= form.text_field :title, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Please provide a project title.
              </div>
            </div>
            <div class="mb-3">
              <%= form.label :description, class: 'form-label' %>
              <%= form.text_area :description, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Please provide a description.
              </div>
            </div>
            <div class="mb-3">
              <%= form.label :start_date, class: 'form-label' %>
              <%= form.date_field :end_date, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Please provide a project start date.
              </div>
            </div>
            <div class="mb-3">
              <%= form.label :end_date, class: 'form-label' %>
              <%= form.date_field :end_date, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Please provide a project end date.
              </div>
            </div>

            <div class="mb-3">
              <%= form.label :status, class: 'form-label' %>
              <%= form.select(:status, ["new", "inprogress", "complete"], include_blank: false, class: 'form-control') %>
            </div>
            <%= form.submit 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>