<h1>New User</h1>

<%= form_with(model: @user, url: admin_users_path, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :tenant_id, Tenant.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :user_role_id, UserRole.where(role_type: ['admin', 'project_manager', 'team_member']), :id, :role_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_root_path %>
