<!DOCTYPE html>
<html>
  <head>
    <title>Promanage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><%= current_user&.tenant_id ? Apartment::Tenant.current : 'public' %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if user_signed_in? %>
                <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: :false }%>
              <% end %>
          </li>
          
          <%- unless user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

   <%= render 'layouts/subnavbar' %>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
